{% for opt in product.options_with_values %}
  {% capture option_downcase %}{{ opt.name | downcase }}{% endcapture %}
  {% if option_downcase == 'color' %}
    <div class="color-swatches">
      {% for value in opt.values %}
        <button 
          class="color-swatch" 
          data-value="{{ value | escape }}"
          style="background-image:url({{ product.variants | where: 'option1', value | first | img_url: '200x' }});">
        </button>
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}
