{% comment %}
Render each color variant as a separate product card
Simple version for collection grids
{% endcomment %}

{% assign option_chosen = 'color' %}

{% if product.has_only_default_variant %}
  <li class="grid__item">
    {% render 'card-product', card_product: product %}
  </li>
{% else %}
  {% assign displayed_values = '' %}

  {% for variant in product.variants %}
    {% assign option_index = 0 %}
    {% for option in product.options %}
      {% assign option_name = option | downcase %}
      {% if option_name == option_chosen %}
        {% assign option_index = forloop.index0 %}
      {% endif %}
    {% endfor %}

    {% assign variant_option = variant.options[option_index] %}
    
    {% unless displayed_values contains variant_option %}
      {% assign displayed_values = displayed_values | append: variant_option | append: ';' %}

      {% capture variant_url %}{{ product.url }}?variant={{ variant.id }}{% endcapture %}

      <li class="grid__item">
        {% render 'card-product', card_product: variant, variant_option: variant_option %}
      </li>
    {% endunless %}
  {% endfor %}
{% endif %}
