<div class="profile-card-wrap">
    <div class="pcard">
        <div class="pmedia">
            <img class="main-img" src="https://cdn.shopify.com/s/files/1/0683/6967/8526/files/3.webp?v=1763538705"/>
            <img class="label-img" src="https://cdn.shopify.com/s/files/1/0683/6967/8526/files/summersemistitched.jpg?v=1754576073">
        </div>
        <div class="pcontent">
            <h3>Fragnance Experiance</h3>
            <p>Discover the allure of our Ceremonial collection. Discover the allure of our Ceremonial collection.</p>
            <button class="pbtn">Visit profile</button>
        </div>
    </div>
    <div class="pcard">
        <div class="pmedia">
            <img class="main-img" src="https://cdn.shopify.com/s/files/1/0683/6967/8526/files/3.webp?v=1763538705"/>
            <img class="label-img" src="https://cdn.shopify.com/s/files/1/0683/6967/8526/files/summersemistitched.jpg?v=1754576073">
        </div>
        <div class="pcontent">
            <h3>Fragnance Experiance</h3>
            <p>Discover the allure of our Ceremonial collection. Discover the allure of our Ceremonial collection.</p>
            <button class="pbtn">Visit profile</button>
        </div>
    </div>
     <div class="pcard">
        <div class="pmedia">
            <img class="main-img" src="https://cdn.shopify.com/s/files/1/0683/6967/8526/files/3.webp?v=1763538705"/>
            <img class="label-img" src="https://cdn.shopify.com/s/files/1/0683/6967/8526/files/summersemistitched.jpg?v=1754576073">
        </div>
        <div class="pcontent">
            <h3>Fragnance Experiance</h3>
            <p>Discover the allure of our Ceremonial collection. Discover the allure of our Ceremonial collection.</p>
            <button class="pbtn">Visit profile</button>
        </div>
    </div>
</div>