<div class="profile-card-wrap">
    <div class="pcard">
        <div class="pmedia"></div>
        <div class="pcontent">
            <h3>Fragnance Experiance</h3>
            <p>Discover the allure of our Ceremonial collection. Discover the allure of our Ceremonial collection.</p>
            <button class="pbtn">Visit profile</button>
        </div>
    </div>
</div>